* {
  /*margenes generales*/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  /*color de fondo y letras de toda la pagina*/
  background-color: black;
  color: #e0d4d4; }

header {
  /* Imagen de Fondo Heder */
  background-image: url("../Resource/fondo.jpg");
  background-position: 5% 5%;
  border-top-width: 10px;
  border-right-width: 5px;
  border-bottom-width: 10px;
  border-left-width: 5px; }

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.titulo {
  /* Titulo */
  margin: 16px;
  padding: 16px; }

.imagen__titulo {
  height: 50px;
  width: 50px; }

h1 {
  font-family: 'Orbitron', sans-serif;
  padding: 16px;
  margin: 16px;
  color: white; }

.nav {
  /* Letras y fondo Nav */
  font-family: 'Orbitron', sans-serif;
  color: antiquewhite;
  background-color: #434242; }

.botones__formulario :hover {
  background-image: linear-gradient(grey);
  transform: scale(1.25, 1.25);
  transition: all 2s; }

.botones-media {
  width: 80px;
  transform: scale(1.25, 1.25);
  transition: all 1.5s; }

.img__icon {
  width: 80px; }

li:hover {
  display: inline;
  transform: scale(1.25, 1.25);
  transition: all 1.5s; }

h2 {
  /* Letras para h2,h3,h4,h5,h6 */
  font-family: 'Anek Malayalam', sans-serif;
  padding: 16px;
  margin: 0px; }

h3 {
  font-family: 'Anek Malayalam', sans-serif;
  padding: 16px;
  margin: 0px; }

h4 {
  font-family: 'Anek Malayalam', sans-serif;
  padding: 16px;
  margin: 0px; }

h5 {
  font-family: 'Anek Malayalam', sans-serif;
  padding: 16px;
  margin: 0px; }

h6 {
  font-family: 'Anek Malayalam', sans-serif;
  padding: 16px;
  margin: 0px; }

a {
  /* Color para links y nav */
  color: #e0d4d4;
  padding: 16px;
  margin: 0px;
  text-decoration: none; }

p {
  /* Formato de Parrafo */
  font-family: 'Anek Malayalam', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  line-height: 20px;
  text-align: left;
  margin: 16px;
  padding: 16px 16px 16px 16px; }

/* Texto biografia */
.biography {
  font-family: 'Anek Malayalam', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  line-height: 20px;
  text-align: center;
  margin: 16px;
  padding: 16px 16px 16px 16px; }

.section__index {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh; }

.Frase {
  /* Letras y orden de la frase */
  font-family: 'Anek Malayalam', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.imag-index {
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.header__list {
  /*lista menu*/
  list-style: none;
  font-size: 18px;
  padding: 0 50px; }

.header__item {
  padding: 20px; }

.header__item a {
  /* Items nav sin subrayado */
  text-decoration: none;
  top: 0px; }

.header__item {
  text-decoration: none; }

.iconos__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.iconos__redes {
  width: 70px;
  padding: 16px;
  display: flex;
  flex-direction: row; }

.newsletter__form {
  /* Newsletter */
  margin: 20px;
  padding: 20px; }

.info__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }

.agency__name {
  /* Footer Contacto */
  margin: 20px;
  padding: 0px; }

.imagen__juan {
  width: 70%; }

.texto__booking {
  font-family: 'Anek Malayalam', sans-serif;
  padding: 16px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column; }

.JuanBooking:hover {
  transform: scale(1.25, 1.25); }

.alimmne:hover {
  transform: scale(1.25, 1.25); }

.alimmne2:hover {
  transform: scale(1.25, 1.25); }

.juan:hover {
  transform: scale(1.25, 1.25);
  transition: all 2s; }

.booking__grid {
  display: grid;
  width: 80vw;
  height: 80vw;
  grid-template-columns: 3fr 2fr 2fr;
  grid-row: 2fr 3fr 2fr;
  grid-template-areas: "JuanBooking none alimmne"  "JuanBooking none juan" "JuanBooking none alimmne2";
  row-gap: 15px;
  column-gap: 15px;
  margin: 16px 50px;
  padding: 16px; }

.JuanBooking {
  grid-area: JuanBooking;
  background-image: url(../Resource/JuanBooking.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 4; }

.alimmne2 {
  grid-area: alimmne2;
  background-image: url(../Resource/alimmne2.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4; }

.alimmne {
  grid-area: alimmne;
  background-image: url(../Resource/alimmne.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; }

.juan {
  grid-area: juan;
  background-image: url(../Resource/juan.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3; }

.carousel_altura {
  height: 700px;
  width: 400px; }

@media (min-width: 320px) and (max-width: 575px) {
  ul {
    flex-direction: column; }
  .booking__grid {
    height: auto;
    grid-template-columns: 1fr;
    grid-row: auto;
    row-gap: 15px;
    column-gap: 15px; }
  .JuanBooking {
    grid-column: 1/2;
    grid-row: 1/2; }
  .alimmne2 {
    grid-column: 1/2;
    grid-row: 2/3; }
  .alimmne {
    grid-column: 1/2;
    grid-row: 3/4; }
  .juan {
    grid-column: 1/2;
    grid-row: 4/5; } }

@media (min-width: 576px) and (max-width: 992px) {
  ul {
    flex-direction: column; }
  .booking__grid {
    height: auto;
    grid-template-columns: 1fr;
    grid-row: auto;
    row-gap: 15px;
    column-gap: 15px; }
  .JuanBooking {
    grid-column: 1/2;
    grid-row: 1/2; }
  .alimmne2 {
    grid-column: 1/2;
    grid-row: 2/3; }
  .alimmne {
    grid-column: 1/2;
    grid-row: 3/4; }
  .juan {
    grid-column: 1/2;
    grid-row: 4/5; }
  .booking__grid {
    display: grid;
    width: 80vw;
    height: 80vw;
    grid-template-columns: 3fr 2fr;
    grid-row: 2fr 3fr;
    grid-template-areas: "JuanBooking none alimmne"  "JuanBooking none alimmne2";
    row-gap: 15px;
    column-gap: 15px;
    margin: 16px 50px;
    padding: 16px; } }
