
    .footer {
        &__info{
            display: flex;
            @include flex (column, center, center);
                }
    
                            &_name{/* Footer Contacto */
                            margin: 20px;
                            padding: 0px;
                            }
                            &__derechos {
                            font-family: 'Anek Malayalam', sans-serif;
                            padding: 16px;
                            margin: 0px;}
                            }
