
    .footer {
        &__info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;  }
    
                            &_name{/* Footer Contacto */
                            margin: 20px;
                            padding: 0px;
                            }
                            &__derechos {
                            font-family: 'Anek Malayalam', sans-serif;
                            padding: 16px;
                            margin: 0px;}
                            }
