.flex__aplicado {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.letras__aplicadas {
    font-family: 'Anek Malayalam', sans-serif;
    padding: 16px;
    margin: 0px;

}


$redes:(
    facebook: lightblue,
    Instagram: pink,
    youtube: red,
    soundcloud: orange,
);

@each $name, $color in $redes {
    .color-#{$name} {
        background-color: #{$color};
    }
    
    
}