@import "footer";
@import "header";
@import "mediaqueries";
@import "variables";
@import "operators";

*{ /*margenes generales*/ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    
    body {/*color de fondo y letras de toda la pagina*/
    background-color: $color-fondo;
    color: $color-principal;
    }
    
    ul{
    @extend .flex__aplicado;
    
    }
    
    .nav{ /* Letras y fondo Nav */
    font-family: 'Orbitron', sans-serif;
    color: antiquewhite;
    background-color: rgb(67, 66, 66);
    
    }

    li:hover{
    display: inline;
    transform: scale(1.25,1.25);
    transition: all 1.5s;
    }
    
    .titulo {/* Titulo */
    margin: 16px;
    padding: 16px;
                &__imagen{
                height: 50px;
                width: 50px;
                }
    
    }
    h1 
    {font-family: 'Orbitron', sans-serif;
    padding: 16px;
    margin: 16px;
    color: white;}
    
    
    .botones__formulario :hover {
    background-image: $color-letras;
    transform: scale(1.25,1.25);
    transition: all 2s;
    }
    
    .botones-media {
    width: 80px;
    transform: scale(1.25,1.25);
    transition: all 1.5s;
    }

    .img__icon {
    width: 80px;
    }

    
    h2{ /* Letras para h2,h3,h4,h5,h6 */
        @extend .letras__aplicadas;
    }
    
    h3{
        @extend .letras__aplicadas;}
    
    h4{
        @extend .letras__aplicadas;}
    
    h5{
        @extend .letras__aplicadas;}
    
    h6{
        @extend .letras__aplicadas;
    }
    
    a{/* Color para links y nav */
    color: $color-principal;
    padding: 16px;
    margin: 0px;
    text-decoration: none;
    }   
    
    p{/* Formato de Parrafo */
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    line-height: 20px;
    text-align: left;
    margin: 16px;
    padding: 16px 16px 16px 16px;
    }
    
    
    /* Texto biografia */
    .biography {
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    line-height: 20px;
    text-align: center;
    margin: 16px;
    padding: 16px 16px 16px 16px;
    }
    
    .Frase { /* Letras y orden de la frase */
    @extend .letras__aplicadas;
    font-size: 16px;
    word-spacing: 1px;
    line-height: 20px;
    @extend .flex__aplicado;}



    .media_items {
        padding: 16px;
        display: flex;
        @include flex (column, center, center);
    }
    

    .newsletter__form {/* Newsletter */
    margin: 20px;
    padding: 20px;
    }
    


    .footer__iconos{
        @extend .flex__aplicado;
}
    .footer__redes {
        width: 70px;
        padding: 16px;
        display: flex;
        flex-direction: row;}


    .imagen__juan {
    width: 70%;
    }
    
    .texto__booking{
    @extend .letras__aplicadas;
    @extend .flex__aplicado;
    
}

    .carousel_altura {
    height: 700px;
    width: 400px;
    
    }