@import "footer";
@import "header";
@import "mediaqueries";

*{ /*margenes generales*/ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    
    body {/*color de fondo y letras de toda la pagina*/
    background-color: black;
    color: rgb(224, 212, 212);
    }
    
    ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    }
    
    .nav{ /* Letras y fondo Nav */
    font-family: 'Orbitron', sans-serif;
    color: antiquewhite;
    background-color: rgb(67, 66, 66);
    
    }

    li:hover{
    display: inline;
    transform: scale(1.25,1.25);
    transition: all 1.5s;
    }
    
    .titulo {/* Titulo */
    margin: 16px;
    padding: 16px;
                &__imagen{
                height: 50px;
                width: 50px;
                }
    
    }
    h1 
    {font-family: 'Orbitron', sans-serif;
    padding: 16px;
    margin: 16px;
    color: white;}
    
    
    .botones__formulario :hover {
    background-image: linear-gradient(grey);
    transform: scale(1.25,1.25);
    transition: all 2s;
    }
    
    .botones-media {
    width: 80px;
    transform: scale(1.25,1.25);
    transition: all 1.5s;
    }

    .img__icon {
    width: 80px;
    }

    
    h2{ /* Letras para h2,h3,h4,h5,h6 */
    font-family: 'Anek Malayalam', sans-serif;
    padding: 16px;
    margin: 0px;
    }
    
    h3{
    font-family: 'Anek Malayalam', sans-serif;
    padding: 16px;
    margin: 0px;}
    
    h4{
    font-family: 'Anek Malayalam', sans-serif;
    padding: 16px;
    margin: 0px;}
    
    h5{
    font-family: 'Anek Malayalam', sans-serif;
    padding: 16px;
    margin: 0px;}
    
    h6{
    font-family: 'Anek Malayalam', sans-serif;
    padding: 16px;
    margin: 0px;}
    
    a{/* Color para links y nav */
    color: rgb(224, 212, 212);;
    padding: 16px;
    margin: 0px;
    text-decoration: none;
    }   
    
    p{/* Formato de Parrafo */
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    line-height: 20px;
    text-align: left;
    margin: 16px;
    padding: 16px 16px 16px 16px;
    }
    
    
    /* Texto biografia */
    .biography {
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    line-height: 20px;
    text-align: center;
    margin: 16px;
    padding: 16px 16px 16px 16px;
    }
    
    .Frase { /* Letras y orden de la frase */
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;}
    

    .newsletter__form {/* Newsletter */
    margin: 20px;
    padding: 20px;
    }
    


    .footer__iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
    .footer__redes {
        width: 70px;
        padding: 16px;
        display: flex;
        flex-direction: row;}


    .imagen__juan {
    width: 70%;
    }
    
    .texto__booking{
    font-family: 'Anek Malayalam', sans-serif;
    padding: 16px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column}

    .carousel_altura {
    height: 700px;
    width: 400px;
    
    }